/*HEADER*/

.carousel-cont {
    position: relative;
    bottom: 35%;
    z-index: -1;
    width: 100%;
}

.carousel-cont img {
    filter: brightness(70%);
}

header {
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .logo-header {
    width: 15%;
    position: relative;
    bottom: 7%;
    left: 2%;
    z-index: 2;
}

header .menu .btn {
    width: 130px;
}

.navegable {
    background-color: transparent !important;
}

header .nav-link {
    color: #E6E6E6 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-shadow: 1px 1px 2px black !important;
    z-index: 2;
}

.caption {
    position: relative;
    top: 26%;
}

.header-titulo {
    position: relative;
    right: 9%;
    top: 30%;
}

.header-titulo p {
    width: 84%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    color: #E6E6E6;
    text-shadow: 1px 1px 4px black;
    z-index: 3;
    text-align: start;
    position: relative;
}

.subrayado-header-hogar {
    width: 310px;
    height: 30px;
    background-color: #737B4C;
    box-shadow: 1px 1px 4px black;
    z-index: 2;
    position: absolute;
    bottom: 9%;
    left: 40%;
}

.texto-empresa span {
    display: none;
}

.subrayado-header-empresa {
    width: 425px;
    height: 30px;
    background-color: #737B4C;
    box-shadow: 1px 1px 4px black;
    z-index: 2;
    position: absolute;
    left: 30%;
    bottom: 9%;
}


/*FIN HEADER*/

/* Seccion 2 "Queres hacer una llamada rapida?" */

@media (min-width: 320px) and (max-width: 667px){
    .seccion-2{
        background-color: #737B4C91;
        height: 410px;
    }
    
    .h2-seccion2{
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        line-height: 33px;
        margin-top: 25px;
    }
    
    .p-seccion2{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 30px;
    }
    
    .botones {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 223px !important;
        height: 46px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
    }
    
    .botones:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .botones:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .botones:focus {
    outline: none !important;
    box-shadow: none !important;
    }
    
    .boton-seccion2{
        display: flex;
        justify-content: center;
    }
    
    .img-seccion2{
        display: flex;
        justify-content: center;
        margin-top: -135px;
    }
    
    .img-desktop{
        display: none;
    }
    
    .img-tablets{
        display: none;
    }
}
    
@media (min-width: 668px) and (max-width: 991px){
    .seccion-2{
        background-color: #737B4C91;
        height: 350px;
    }
    
    .h2-seccion2{
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        line-height: 33px;
        margin-top: 15px;
    }
    
    .p-seccion2{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 21px;
        text-align: center;
        margin-top: 30px;
    }
    
    .botones {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 223px !important;
        height: 46px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
    }
    
    .botones:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .botones:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .botones:focus {
    outline: none !important;
    box-shadow: none !important;
    }
    
    .boton-seccion2{
        display: flex;
        justify-content: center;
    }
    
    .img-seccion2{
        display: flex;
        justify-content: center;
        margin-top: -135px;
        
    }
    
    .img-desktop{
        display: none;
    }

    .img-tablets{
        display: none;
    }
    
}

@media (min-width: 992px) and (max-width: 1200px){
    .seccion-2{
        background-color: #737B4C91;
        height: 300px;
    }
    
    .h2-seccion2{
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        line-height: 40px;
        margin-top: 15px;
        margin-left: 40px;
    }
    
    .p-seccion2{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 21px;
        text-align: left;
        margin-top: 30px;
        margin-left: 40px;
        width: 100%;
    }
    
    .botones {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 223px !important;
        height: 46px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
    }
    
    .botones:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .botones:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .botones:focus {
    outline: none !important;
    box-shadow: none !important;
    }
    
    .boton-seccion2{
        display: flex;
        justify-content: left;
    }
    
    .img-seccion2{
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }

    .img-mobile{
        display: none;
    }

    .img-desktop{
        display: none;
    }
}
    
@media (min-width: 1201px){
    .seccion-2{
        background-color: #737B4C91;
        height: 400px;
    }
    
    .h2-seccion2{
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        line-height: 60px;
        margin-top: 15px;
        margin-left: 80px;
    }
    
    .p-seccion2{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 21px;
        text-align: left;
        margin-top: 30px;
        margin-left: 80px;
        width: 80%;
    }
    
    .botones {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 80px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 223px !important;
        height: 46px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
    }
    
    .botones:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .botones:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .botones:focus {
    outline: none !important;
    box-shadow: none !important;
    }
    
    .boton-seccion2{
        display: flex;
        justify-content: left;
    }
    
    .img-seccion2{
        display: flex;
        justify-content: center;
        margin-top: 165px;
    }

    .img-mobile{
        display: none;
    }

    .img-tablets{
        display: none;
    }
}
    
/* Fin Seccion 2 "Queres hacer una llamada rapida?" */


/*SECCION 3 "ENCONTRA TU PROPIEDAD IDEAL"*/

.seccion3 {
    font-family: 'Poppins', sans-serif;
    height: auto;
    margin-top: 50px;
}

.titulo-seccion-3 {
    margin-left: 18%;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
    font-weight: 700;
    z-index: 10;
}

.subrayado-titulo-sec3 {
    width: 420px;
    height: 25px;
    box-shadow: 1px 1px 4px black;
    background-color: #737B4C;
    position: relative;
    left: 45%;
    bottom: 39%;
    z-index: -1;
}

.container-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.casas {
    background-image: url("../img/casas.jpg");
}

.departamentos {
    background-image: url("../img/departamentos.jpg");
}

.oficinas {
    background-image: url("../img/oficinas.jpg");
}

.comercial {
    background-image: url("../img/comercios.jpg");
}

.terrenos {
    background-image: url("../img/terrenos.jpg");
}

.industrial {
    background-image: url("../img/industrial.jpg");
}

.oficinas,
.departamentos,
.comercial,
.casas,
.terrenos,
.industrial {
    background-size: cover;
    background-position: center;
    width: 445px;
    height: 350px;
    border-radius: 30px;
    margin-top: 35px;
    position: relative;
}

.oficinas::before,
.departamentos::before,
.comercial::before,
.casas::before,
.terrenos:before,
.industrial::before {
    content: '';
    position: absolute;
    border-radius: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.container-img>div>p {
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    position: relative;
}

.container-img>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    box-shadow: 1px 2px 5px rgb(27, 25, 25);
}


/*FIN SECCION 3 "ENCONTRA TU PROPIEDAD IDEAL"*/

/* Seccion 4 "Parques industriales que comercializamos" */
@media (min-width: 320px) and (max-width: 920px){
    .h2-parques{
        display: none;
    }

    .h2-parques-mobile{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 34px;
        margin-top: 50px;
    }

    .seccion-parques-desktop{
        display: none;
    }

    .seccion-parques-mobile{
        background-color: #373A36;
        margin-top: 25px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
    }

    .img-mobile{
        width: 100%;
        border-radius: 10px;
    }

    .subtit-parques{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        margin-top: 10px;
    }
    
    .parrafo-parques{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .boton-parques {
        font-size: 16px !important;
        margin-top: 2px;
        margin-bottom: 20px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 130px !important;
        height: 40px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
        font-family: 'Poppins', sans-serif;
    }
    
    .boton-parques:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .boton-parques:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .boton-parques:focus {
    outline: none !important;
    box-shadow: none !important;
    }

    .centrado-boton{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 921px){
    .seccion-parques-mobile{
        display: none;
    }
    
    .h2-parques-mobile{
        display: none;
    } 


    .h2-parques{
        text-decoration: underline;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        text-align: center;
        line-height: 60px;
        margin-top: 50px;
    }
    
    .seccion-parques-desktop{
        border-radius: 10px;
        background-color: #373A36;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%; 
        margin-top: 20px;
    }
    
    .img-parques{
        border-radius: 10px;
    }
    
    .subtit-parques{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 38px;
    }
    
    .parrafo-parques{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        margin-right: 15%;
        margin-top: 20px;
    }
    
    .img-fondo{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .boton-parques {
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #D05A57 !important;
        color: white !important;
        outline: none !important;
        border-radius: 6px;
        width: 130px !important;
        height: 44px !important;
        box-shadow:  0px 5px 0px rgb(0, 0, 0, 0.25);
        font-family: 'Poppins', sans-serif;
    }
    
    .boton-parques:hover {
    background-color: white !important;
    color: #D05A57 !important;
    border: 1px solid #D05A57;
    }
    
    .boton-parques:active {
    background-color: white !important;
    color: #D05A57 !important;
    }
    
    .boton-parques:focus {
    outline: none !important;
    box-shadow: none !important;
    }
    
}

/* Fin Seccion 4 "Parques industriales que comercializamos" */

/*SECCION 5 - FORMULARIO*/

.seccion-form {
    background-color: rgba(115, 123, 76, 0.57);
    height: 90vh;
}

.sec-form-img {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-form {
    width: 70%;
    margin-left: 23%;
    position: relative;
    bottom: 5%;
}

.texto-form {
    width: 85%;
    font-size: 33px;
    font-weight: 700;
    margin-left: 16%;
    margin-top: 5%;
}

.sec-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-form input,
.sec-form textarea {
    width: 80%;
    margin-top: 5%;
    box-shadow: 1px 1px 4px rgb(34, 33, 33);
}

.sec-form input[type="submit"] {
    width: 30%;
    height: 40px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #D05A57;
}


/*FIN SECCION 5 - FORMULARIO*/


/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {
    /*HEADER*/
    .header-titulo p {
        width: 63%;
        font-size: 2.4rem;
    }
    .subrayado-header-hogar {
        width: 180px;
        height: 15px;
        position: absolute;
        bottom: 9%;
        left: 28%;
    }
    .subrayado-header-empresa {
        width: 240px;
        height: 15px;
        position: absolute;
        left: 21%;
        bottom: 8%;
    }
    header .menu .btn {
        width: 70px;
        font-size: 12px;
    }
    header .nav-link {
        font-size: 14px !important;
    }
    .navbar {
        padding-top: 0 !important;
    }
    /*ENCONTRA TU PROPIEDAD*/
    .titulo-seccion-3 {
        margin-left: 18% !important;
        font-size: 45px !important;
    }
    .subrayado-titulo-sec3 {
        width: 380px !important;
        height: 18px !important;
        position: relative;
        left: 47% !important;
    }
    .oficinas,
    .departamentos,
    .comercial,
    .casas,
    .terrenos,
    .industrial {
        border-radius: 10px !important;
        height: 180px !important;
        margin: 10px 5px !important;
    }
    .oficinas::before,
    .departamentos::before,
    .comercial::before,
    .casas::before,
    .terrenos:before,
    .industrial::before {
        border-radius: 10px !important;
    }
    /*Form*/
    .seccion-form {
        height: 80vh;
    }
    .sec-form {
        margin-bottom: 4%;
    }
    .img-form {
        width: 60%;
    }
    .texto-form {
        width: 85%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    /*HEADER*/
    .header-titulo p {
        width: 63%;
        font-size: 2rem;
    }
    .subrayado-header-hogar {
        width: 140px;
        height: 12px;
        position: absolute;
        bottom: 9%;
        left: 31.5%;
    }
    .subrayado-header-empresa {
        width: 190px;
        height: 12px;
        position: absolute;
        left: 24%;
        bottom: 8%;
    }
    header .menu .btn {
        width: 70px;
        font-size: 12px;
    }
    header .nav-link {
        font-size: 14px !important;
    }
    /*ENCONTRA TU PROPIEDAD*/
    .titulo-seccion-3 {
        position: relative;
        left: 22%;
        width: 55%;
        text-align: center;
        margin-left: 0% !important;
        font-size: 45px !important;
    }
    .subrayado-titulo-sec3 {
        width: 380px !important;
        height: 18px !important;
        position: relative;
        left: 22% !important;
        bottom: 25% !important;
    }
    /*form*/
    .seccion-form {
        height: auto;
    }
}

@media only screen and (max-width: 640px) {
    .carousel-cont {
        position: relative;
        bottom: 0%;
    }
    header {
        background-color: #737B4C;
        height: 75px;
    }
    .header-titulo {
        position: relative;
        left: 20%;
        top: 0%;
        bottom: 40%;
    }
    .header-titulo p {
        width: 52% !important;
        text-align: center;
    }
    /*SECCION 3*/
    .texto-empresa span {
        height: 0px;
        display: block;
    }
    .titulo-seccion-3 {
        width: 75%;
        position: relative;
        left: 13%;
    }
    .subrayado-titulo-sec3 {
        position: relative;
        left: 13% !important;
    }
    .subrayado-header-hogar {
        width: 140px !important;
        height: 12px;
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    .subrayado-header-empresa {
        width: 190px !important;
        height: 12px;
        position: absolute;
        left: 5%;
        bottom: 5%;
    }
    /*Form*/
    .img-form {
        display: none;
    }
    .seccion-form {
        height: auto;
    }
    .texto-form {
        margin-left: 9%;
        text-align: center;
        font-size: 25px;
    }
    @media only screen and (max-width: 320px) {
        /*HEADER*/
        header {
            height: 50px !important;
        }
        .header-titulo {
            position: relative !important;
            left: 20%;
            top: 0% !important;
            bottom: 100% !important;
        }
        .header-titulo p {
            font-size: 1.1rem !important;
        }
        .subrayado-header-hogar {
            display: none;
        }
        .subrayado-header-empresa {
            display: none;
        }
        /*SECCION 3 */
        .titulo-seccion-3 {
            position: relative;
            left: 1% !important;
            width: 100%;
            font-size: 27px !important;
            letter-spacing: 1px;
        }
        .subrayado-titulo-sec3 {
            width: 270px !important;
            height: 15px !important;
            position: relative;
            left: 4% !important;
            bottom: 28% !important;
        }
        .oficinas,
        .departamentos,
        .comercial,
        .casas,
        .terrenos,
        .industrial {
            height: 160px !important;
            width: 100%!important;
        }
        .container-img>div>p {
            font-size: 2em !important;
        }
        /*Form*/
        .texto-form {
            height: auto !important;
            width: 95% !important;
            font-size: 17px !important;
            text-align: center;
            margin-left: 4%;
            margin-top: 3%;
            margin-bottom: 4%;
        }
        .img-form {
            display: none !important;
        }
        .sec-form input[type="submit"] {
            width: 75%;
            height: 40px;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            background-color: #D05A57;
        }
        .espacio {
            margin: 6% 2%;
            box-shadow: 1px 1px 4px black;
        }
    }
}