    @font-face {
        font-family: "poppins-semibold";
        src: url("../fonts/Poppins-SemiBold.ttf");
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: "poppins-bold";
        src: url("../fonts/Poppins-Bold.ttf");
        font-weight: normal;
        font-style: normal;
    }
    /*HEADER*/
    
    .carrusel-mob {
        display: none;
    }
    
    .carousel-cont {
        position: relative;
        bottom: 20%;
        z-index: -1;
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .logo-header {
        margin-top: 1.5rem;
        margin-left: 3.8rem
    }
    
    header .menu {
        margin-top: 3rem;
        margin-right: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        z-index: 2;
        list-style: none;
    }
    
    header .menu a {
        color: #E6E6E6 !important;
        font-size: large !important;
        font-weight: 600 !important;
        text-decoration: none;
        margin: 15px;
    }
    
    .shawdow {
        text-shadow: 1px 1px 2px black;
    }
    
    header .menu .btn-inicio {
        padding: 10px 25px;
        width: 170px !important;
        border-radius: 54px !important;
        border: none;
        font-size: medium !important;
        color: #FFFFFF;
    }
    /*FIN HEADER*/
    /* Seccion 2 "Queres hacer una llamada rapida?" */
    
    @media (min-width: 320px) and (max-width: 667px) {
        .seccion-2 {
            background-color: #737B4C91;
            height: 410px;
            margin-bottom: 50px;
        }
        .h2-seccion2 {
            color: #373A36;
            font-family: poppins-bold;
            font-size: 35px;
            line-height: 33px;
            margin-top: 25px;
        }
        .p-seccion2 {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            margin-top: 30px;
        }
        .botones {
            font-family: poppins-semibold;
            font-size: 20px !important;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 223px !important;
            height: 46px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
        }
        .botones:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .botones:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .botones:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .boton-seccion2 {
            display: flex;
            justify-content: center;
        }
        .img-seccion2 {
            display: flex;
            justify-content: center;
            margin-top: -180px;
        }
        .img-desktop {
            display: none;
        }
        .img-tablets {
            display: none;
        }
    }
    
    @media (min-width: 668px) and (max-width: 991px) {
        .seccion-2 {
            background-color: #737B4C91;
            height: 350px;
            margin-top: -12.5%;
        }
        .h2-seccion2 {
            color: #373A36;
            font-family: poppins-bold;
            font-size: 34px;
            line-height: 33px;
            margin-top: 15px;
        }
        .p-seccion2 {
            font-family: 'Poppins', sans-serif;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            line-height: 21px;
            text-align: center;
            margin-top: 30px;
        }
        .botones {
            font-family: poppins-semibold;
            font-size: 20px !important;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 223px !important;
            height: 46px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
        }
        .botones:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .botones:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .botones:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .boton-seccion2 {
            display: flex;
            justify-content: center;
        }
        .img-seccion2 {
            display: flex;
            justify-content: center;
            margin-top: -135px;
        }
        .img-desktop {
            display: none;
        }
        .img-tablets {
            display: none;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .seccion-2 {
            background-color: #737B4C91;
            height: 300px;
            margin-top: -9.8%;
            margin-bottom: 10%;
        }
        .h2-seccion2 {
            color: #373A36;
            font-family: poppins-bold;
            font-size: 40px;
            line-height: 40px;
            margin-top: 15px;
            margin-left: 40px;
        }
        .p-seccion2 {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            line-height: 21px;
            text-align: left;
            margin-top: 30px;
            margin-left: 40px;
            width: 100%;
        }
        .botones {
            font-family: poppins-semibold;
            font-size: 20px !important;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 223px !important;
            height: 46px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
        }
        .botones:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .botones:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .botones:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .boton-seccion2 {
            display: flex;
            justify-content: left;
        }
        .img-seccion2 {
            display: flex;
            justify-content: center;
            margin-top: 120px;
        }
        .img-mobile {
            display: none;
        }
        .img-desktop {
            display: none;
        }
    }
    
    @media (min-width: 1201px) {
        .seccion-2 {
            background-color: #737B4C91;
            height: 310px;
            margin-bottom: 80px;
            margin-top: -9.8%;
        }
        .h2-seccion2 {
            color: #373A36;
            font-family: poppins-bold;
            font-size: 50px;
            line-height: 55px;
            margin-top: 15px;
            margin-left: 80px;
        }
        .p-seccion2 {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            line-height: 21px;
            text-align: left;
            margin-top: 15px;
            margin-left: 80px;
            width: 80%;
        }
        .botones {
            font-family: poppins-semibold;
            font-size: 20px !important;
            margin-top: 15px;
            margin-bottom: 20px;
            margin-left: 80px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 223px !important;
            height: 46px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
        }
        .botones:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .botones:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .botones:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .boton-seccion2 {
            display: flex;
            justify-content: left;
        }
        .img-seccion2 {
            display: flex;
            justify-content: center;
            margin-top: 75px;
        }
        .img-mobile {
            display: none;
        }
        .img-tablets {
            display: none;
        }
    }
    /* Fin Seccion 2 "Queres hacer una llamada rapida?" */
    /*SECCION 3 "ENCONTRA TU PROPIEDAD IDEAL"*/
    
    .container-img-mob {
        display: none;
    }
    
    .seccion3-desk {
        font-family: 'Poppins', sans-serif;
        height: auto;
    }
    
    .container-titulo-sec3>img {
        width: 78%;
        margin-left: 12%;
        margin-top: 3rem;
    }
    
    .container-img-desk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .servicio {
        margin: 50px 10px;
        width: 445px;
        height: 300px;
    }
    
    .cont-foto {
        display: block;
        width: 445px;
        height: 350px;
        border-radius: 16px;
        box-shadow: 1px 1px 5px black;
        z-index: -1;
    }
    
    .servicio>p {
        position: relative;
        bottom: 75%;
        z-index: 3;
        color: aliceblue;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        text-shadow: 1px 1px 5px black;
    }
    
    .hidden {
        overflow: hidden;
    }
    
    .oficinas-desk,
    .departamentos-desk,
    .comercial-desk,
    .casas-desk,
    .terrenos-desk,
    .industrial-desk {
        width: 100%;
        height: 100%;
        transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        filter: brightness(80%);
        position: relative;
    }
    
    .oficinas-desk:hover,
    .departamentos-desk:hover,
    .comercial-desk:hover,
    .casas-desk:hover,
    .terrenos-desk:hover,
    .industrial-desk:hover {
        transform: scale(1.3);
        -ms-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    
    @media (max-width: 950px) {
        /*HEADER*/
        .carousel-cont {
            position: relative;
            bottom: 25%;
        }
        /*Seccion 3*/
        .container-img-desk {
            display: none;
        }
        .container-img-mob {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-family: 'Poppins', sans-serif;
            height: auto;
            margin-top: 50px;
        }
        .casas {
            background-image: url("../img/propiedades\ -\ casas-01.jpg");
        }
        .departamentos {
            background-image: url("../img/propiedades\ -\ departamentos-01.jpg");
        }
        .oficinas {
            background-image: url("../img/propiedades\ -\ oficinas-01.jpg");
        }
        .comercial {
            background-image: url("../img/propiedades\ -\ locales-01.jpg");
        }
        .terrenos {
            background-image: url("../img/propiedades\ -\ terrenos-01.jpg");
        }
        .industrial {
            background-image: url("../img/propiedades\ -\ industrial-01.jpg");
        }
        .oficinas,
        .departamentos,
        .comercial,
        .casas,
        .terrenos,
        .industrial {
            background-size: cover;
            background-position: center;
            width: 70% !important;
            height: 180px;
            border-radius: 10px;
            margin-top: 20px;
            position: relative;
            box-shadow: 1px 1px 5px black;
        }
        .oficinas::before,
        .departamentos::before,
        .comercial::before,
        .casas::before,
        .terrenos:before,
        .industrial::before {
            content: '';
            position: absolute;
            border-radius: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .container-img-mob>div>p {
            font-size: 45px;
            font-weight: 700;
            color: #FFFFFF;
            text-shadow: 1px 1px 2px black;
            position: relative;
        }
        .container-img-mob>div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 10px;
            box-shadow: 1px 2px 5px rgb(27, 25, 25);
        }
    }
    /*FIN SECCION 3 "ENCONTRA TU PROPIEDAD IDEAL"*/
    /* Seccion 4 "Parques industriales que comercializamos" */
    
    @media (min-width: 320px) and (max-width: 667px) {
        .h2-parques {
            display: none;
        }
        .centrado-parquesindustriales {
            display: flex;
            justify-content: center;
        }
        .img-parquesindustriales {
            width: 70%;
            margin-top: 15%;
        }
        .seccion-parques-mobile {
            background-color: #373A36;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 10px;
        }
        .img-mobile {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .subtit-parques {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
            margin-top: 10px;
        }
        .parrafo-parques {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            margin-top: 20px;
            margin-left: 2%;
            margin-right: 2%;
            line-height: 22px;
        }
        .boton-parques {
            font-size: 16px !important;
            margin-top: 2px;
            margin-bottom: 20px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 130px !important;
            height: 40px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
            font-family: 'Poppins', sans-serif;
        }
        .boton-parques:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .boton-parques:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .boton-parques:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .centrado-boton {
            display: flex;
            justify-content: center;
        }
    }

    @media (min-width: 668px) and (max-width: 1099px) {
        .h2-parques {
            display: none;
        }
       
        .centrado-parquesindustriales {
            display: flex;
            justify-content: center;
        }
        .img-parquesindustriales {
            width: 70%;
            margin-top: 15%;
        }
        .seccion-parques-mobile {
            background-color: #373A36;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 10px;
        }
        .img-mobile {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .subtit-parques {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
            margin-top: 10px;
        }
        .parrafo-parques {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            margin-top: 20px;
            margin-left: 2%;
            margin-right: 2%;
            line-height: 22px;
        }
        .boton-parques {
            font-size: 16px !important;
            margin-top: 2px;
            margin-bottom: 20px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 10px !important;
            width: 130px !important;
            height: 40px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
            font-family: 'Poppins', sans-serif;
        }
        .boton-parques:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .boton-parques:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .boton-parques:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .centrado-boton {
            display: flex;
            justify-content: center;
        }
    }
    
    @media (min-width: 1100px) {
        .seccion-parques-mobile {
            display: none;
        }
        .h2-parques-mobile {
            display: none;
        }
        .centrado-parquesindustriales {
            display: flex;
            justify-content: center;
        }
        .img-parquesindustriales {
            width: 60%;
            height: 55%;
            margin-top: 15%;
        }
        .img-polo-desktop{
            margin-left: 10%;
        }
        .fondo-card-buenayre2{
            background-color: #383A37;
            margin-left: 55%;
            margin-top: -23% !important;
            margin-bottom: 15%;
            border-radius: 0px 10px 10px 10px;
            width: 100%;
            height: 400px;
        }
        .img-polo-buenayre{
            width: 100%;
            height: 550px;
            border-radius: 15px;
        }
        .img-titulo-buenayre2{
            margin-top: 5%;
            margin-left: 2%;
        }

        .parrafo-card-buenayre2{
            font-family: poppins;
            color: #fff;
            margin-top: 5%;
            margin-left: 2%;
            margin-right: 2%;
            font-size: 100%;
            line-height: 22px;
        }

        .botones-polo {
            font-family: poppins-semibold;
            font-size: medium !important;
            margin-top: 20px;
            margin-bottom: 30px;
            background-color: #D05A57 !important;
            color: white !important;
            outline: none !important;
            border-radius: 54px !important;
            width: 170px !important;
            height: 46px !important;
            /* box-shadow: 0px 5px 0px rgb(0, 0, 0, 0.25); */
        }
        .botones-polo:hover {
            background-color: white !important;
            color: #D05A57 !important;
            border: 1px solid #D05A57;
        }
        .botones-polo:active {
            background-color: white !important;
            color: #D05A57 !important;
        }
        .botones-polo:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .boton-seccion-polo{
            display: flex;
            justify-content: center;
        }


    }
    /*Fin Seccion 4 "Parques industriales que comercializamos" */
    /*SECCION 5 - FORMULARIO*/
    
    .seccion-form {
        background-color: rgba(115, 123, 76, 0.57);
        height: auto;
        padding-bottom: 3%;
    }
    
    .sec-form-img {
        display: flex;
        flex-direction: row;
    }

    .card{
        height: 63%;
        width:42%;
        border-radius: 10%;
        box-shadow: 1px 1px 3px grey;
    }

    .posicion-1{
        margin-left: 12%;
        margin-top: 7%;
    }

    .posicion-2{
        margin-top: 30%;
        margin-left: -8%;
    }
    
    .card>img{
        background-color: black;
        width: 90%;
        height: 75%;
        margin-left: 5%;
        margin-top: 7%;
        
    }
    
    .texto-form {
        width: 87%;
        font-size: 1.7rem;
        font-family: "poppins-bold";
        text-align: center;
    }
    
    .sec-form {
        padding-top: 5%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%; */
    }
    
    .sec-form input,
    .sec-form textarea {
        width: 70%;
        margin-top: 5%;
        margin-left: 10%;
        box-shadow: 1px 1px 2px rgb(34, 33, 33);
        font-family: 'Poppins', sans-serif;

    }
    
    .sec-form input[type="submit"] {
        width: 30%;
        height: 50px;
        margin-left: 30%;
        font-size: small;
        font-family: "poppins-bold";
        border-radius: 54px;
        background-color: #D05A57;
        color: white;
        border: none;
    }
    
    .borde-radio {
        border-radius: 7px !important;
        box-shadow: 3px 3px 15px #353c1691 !important;
    }
    
    .borde-radio-text {
        border-radius: 7px !important;
        box-shadow: 3px 3px 15px #353c1691 !important;
    }
    /*FIN SECCION 5 - FORMULARIO*/
    /*MEDIA QUERIES*/
    
    @media only screen and (max-width: 1024px) {
        /*HEADER*/
        .logo-header {
            width: 15% !important;
            margin-left: 2rem !important;
        }
        header .menu .btn {
            width: 70px;
            font-size: 12px;
        }
        /*Form*/
        .seccion-form {
            height: auto;
        }
        .sec-form {
            margin-bottom: 4%;
        }
        .texto-form {
            font-size: 1.3rem;
            letter-spacing: 0;
        }
    }
    
    @media (max-width: 907px) {
        .texto-form {
            font-size: 1.2rem;
            line-height: 30px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        /*header*/
        .logo-header {
            width: 15% !important;
            margin-left: 1.2rem;
        }
        header .menu {
            margin-top: 2.2rem;
        }
        header .menu a {
            font-size: medium !important;
        }
        header .menu .btn {
            width: 70px;
            font-size: 12px;
        }
        /*ENCONTRA TU PROPIEDAD*/
        .oficinas,
        .departamentos,
        .comercial,
        .casas,
        .terrenos,
        .industrial {
            width: 65%!important;
        }
        /*form*/
        .sec-form {
            padding-bottom: 5%;
        }
        .texto-form {
            width: 90%;
            margin-top: 10%;
            margin-left: 15%;
            text-align: center;
            font-size: 18px;
            line-height: 25px;
        }
        .img-form {
            margin-left: 25%;
        }
        .espacio {
            width: 75%;
            height: 35px;
        }
    }
    
    @media (max-width: 767px) {
        .img-form {
            display: none;
        }
        .texto-form {
            font-size: 1.3rem;
            margin-left: 5%;
        }
    }
    /*MENU MOBILE Media query*/
    
    @media (min-width: 320px) and (max-width: 667px) {
        .menu-mobile {
            position: fixed;
            z-index: 5;
        }
        .carousel-cont {
            position: relative;
            bottom: 0%;
            margin-top: 80px;
        }
        nav {
            width: 100%;
        }
        .menu-hamburguesa {
            width: 100%;
        }
        .bg-menu {
            background-color: #383A37;
        }
        .navbar-collapse {
            width: 100%;
            background-color: #383A37;
        }
        .navbar-toggler:focus,
        .navbar-toggler:active {
            outline: none !important;
            box-shadow: none !important;
        }
        .logo-navbar {
            width: 150px;
        }
        .botonmenu {
            color: white !important;
            border-radius: 4px;
            height: 39px;
            font-size: 18px;
            /* padding-left: 10px; */
            border-color: #383A37 !important;
            margin-left: 50% !important;
        }
        .fondo-item {
            background-color: #383A37;
            width: 100%;
        }
        .lineasboton {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
        }
        .nav-link-bg-color {
            background-color: #D05A57;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
        }
        .nav-link-color-letra {
            color: white !important;
            font-size: 16px;
            width: 200px;
            text-align: center;
            margin: 0px;
        }
        .nav-link-color-letra-contacto {
            color: white !important;
            font-size: 16px;
            width: 120px;
            text-align: center;
            border: 1px solid #383A37 !important;
        }
        .nav-link-color-letra-contacto:hover {
            background-color: rgb(255, 255, 255);
            color: #D05A57 !important;
        }
        .menu-desk {
            display: none;
        }
        div.row {
            margin-right: 0px;
        }
        div.container-fluid {
            padding-right: 0px;
        }
    }
    
    @media (min-width: 668px) {
        .menu-mobile {
            display: none;
        }
        /*  */
    }
    
    @media only screen and (max-width: 640px) {
        /*SECCION 3*/
        .titulo-seccion-3 {
            font-size: 40px !important;
            width: 70%;
        }
        .container-img-mob>div {
            width: 70% !important;
        }
        .container-img-mob>div>p {
            font-size: 1.5em !important;
        }
        /*Form*/
        .img-form {
            display: none;
        }
        .texto-form {
            line-height: 25px;
        }
    }
    
    @media (max-width: 480px) {
        /*Header*/
        .carousel-cont {
            margin-top: 60px;
        }
        .botonmenu {
            margin-left: 40% !important;
        }
        .bg-menu {
            height: 70px !important;
        }
        .logo-navbar {
            width: 90px;
            margin-left: 15%;
        }
        /*Form menu*/
        .sec-form-img{
            display: none;
        }
        .sec-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sec-form input[type="submit"] {
            width: 50%;
        }
        .texto-form {
            font-size: 17px;
        }
    }
    
    @media only screen and (max-width: 320px) {
        /*HEADER*/
        .carrusel-desk {
            display: none;
        }
        .carrusel-mob {
            display: block;
        }
        /*SECCION 3 */
        .container-titulo-sec3>img {
            width: 100% !important;
            margin-left: 0%;
        }
        .oficinas,
        .departamentos,
        .comercial,
        .casas,
        .terrenos,
        .industrial {
            border-radius: 8px;
            height: 140px !important;
            margin: 10px 5px !important;
        }
        .oficinas::before,
        .departamentos::before,
        .comercial::before,
        .casas::before,
        .terrenos:before,
        .industrial::before {
            border-radius: 8px !important;
        }
        .departamentos>p {
            font-size: 1.3em !important;
        }
        .container-img>div>p {
            font-size: 1.5em !important;
        }
        /*Form*/
        .texto-form {
            height: auto !important;
            width: 95% !important;
            font-size: 14px;
            text-align: center;
            margin-left: 4%;
            margin-top: 7%;
            margin-bottom: 4%;
        }
        .img-form {
            display: none !important;
        }
        .sec-form input[type="submit"] {
            /* width: 50%;
            height: 40px;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            background-color: #D05A57; */
        }
        .espacio {
            margin: 2% 2%;
            box-shadow: 1px 1px 4px black;
        }
    }
    /*FIN MEDIA QUERIES*/
    /* INICIO FOOTER */
    
    .footer {
        background-color: #1d2326;
        padding-bottom: 0px;
    }
    
    .footer__caja {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 160px;
        padding: 70px 0px 50px 0px;
        align-items: center;
    }
    
    .footer__caja-logo {
        width: 200px !important;
        height: auto !important;
    }
    
    .caja-footer-informacion {
        display: flex;
        flex-direction: row;
    }
    
    .footer__caja-telefono {
        color: white;
        text-decoration: none;
        padding: 0px 10px;
        font-size: 15px;
        margin: 0px;
    }
    
    .footer__caja-telefono-a {
        text-decoration: none !important;
        color: white;
        font-size: 15px;
    }
    
    .footer__caja-telefono-a:hover {
        color: white;
    }
    
    .footer-caja-central {
        border-left: 1px solid #CCA465;
        border-right: 1px solid #CCA465;
    }
    
    .pie-de-pagina {
        color: white;
        font-size: 15px;
        margin: 0px;
    }
    
    .krak {
        text-decoration: none;
        color: #CCA465 !important;
        font-size: 15px;
    }
    
    .krak:hover {
        text-decoration: none;
    }
    
    .final-letra:hover {
        text-decoration: none;
        color: white;
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .footer {
            background-color: #1d2326;
            padding-bottom: 0px;
        }
        .footer__caja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 300px !important;
            padding: 0px;
            align-items: center;
        }
        .footer__caja-logo {
            width: 200px;
            height: auto !important;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        .caja-footer-informacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer__caja-telefono {
            color: white;
            text-decoration: none;
            padding: 5px 0px;
            font-size: 14px;
            margin: 0px;
            text-align: center;
        }
        .footer__caja-telefono-a {
            text-decoration: none !important;
            color: white;
        }
        .footer__caja-telefono-a:hover {
            color: white;
        }
        .footer-caja-central {
            border-left: none;
            border-right: none;
        }
        .footer__menu {
            margin: 20px 0px;
            width: auto;
        }
        .footer__menu-ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
        }
        .pie-de-pagina {
            color: white;
            font-size: 14px;
            margin: 20px 0px 0px 0px;
            padding-bottom: 35px;
            margin-bottom: 30px;
        }
        .krak {
            text-decoration: none;
            color: #CCA465 !important;
            font-size: 14px;
        }
        .krak:hover {
            text-decoration: none;
        }
        .final-letra:hover {
            text-decoration: none;
            color: white;
        }
    }
    
    @media (min-width: 320px) and (max-width: 767px) {
        .footer {
            background-color: #1d2326;
            padding-bottom: 0px;
        }
        .footer__caja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 270px;
            padding-bottom: 0px;
            align-items: center;
        }
        .footer__caja-logo {
            width: 200px !important;
            height: auto !important;
            margin-bottom: 15px;
            margin-top: 35px;
        }
        .caja-footer-informacion {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer__caja-telefono {
            color: white;
            text-decoration: none;
            padding: 5px 0px;
            font-size: 11px;
            margin: 0px;
            text-align: center;
        }
        .footer__caja-telefono-a {
            text-decoration: none !important;
            color: white;
            font-size: 11px;
        }
        .footer__caja-telefono-a:hover {
            color: white;
        }
        .footer-caja-central {
            border-left: none;
            border-right: none;
        }
        .footer__menu {
            margin: 20px 0px;
            width: auto;
        }
        .footer__menu-ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 11px;
        }
        .pie-de-pagina {
            color: white;
            font-size: 11px;
            margin: 5px 0px 103px 0px;
            padding-bottom: 60px !important;
        }
        .krak {
            text-decoration: none;
            color: #CCA465 !important;
            font-size: 11px;
        }
        .krak:hover {
            text-decoration: none;
        }
        .final-letra:hover {
            text-decoration: none;
            color: white;
        }
        .barrafooter {
            height: 5px;
            border-radius: 140px;
            background-color: rgb(29, 35, 38) !important;
            margin-bottom: 10px;
        }
    }
    /* FIN FOOTER */